---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				max-width: 960px;
				width: 100%;
				margin: auto;
				padding: 0 1.5rem;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
				text-align: center;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1.5rem;
			}
			ul li:first-child img {
				width: 100%;
				border-radius: 12px;
				margin-top: 10px;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.75rem;
				border-radius: 10px;
				border: 1px solid rgba(255, 255, 255, 0.05);
			}
			ul li a {
				display: block;
				color: inherit;
			}
			.title {
				margin: 0;
				color: rgb(var(--text));
				line-height: 1.2;
				font-weight: 600;
			}
			.date {
				margin: 0.4em 0 0;
				color: rgba(var(--text), 0.65);
				font-size: 0.95em;
			}
			ul li a:hover .title,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul li a:hover img {
				box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
				transform: translateY(-2px);
			}
			@media (max-width: 720px) {
				ul {
					gap: 1rem;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 1rem;
				}
				ul li:first-child .title {
					font-size: 1.8em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{post.data.heroImage && (
										<Image
											width={720}
											height={360}
											src={post.data.heroImage}
											alt=""
										/>
									)}
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate
											date={post.data.pubDate}
										/>
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
